* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: "Barlow";
}

.app__wrapper {
  background-color: #e0e6ee;
  border-radius: 8px;
  padding: 35px 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 16px;
  margin-top: 96px;
  width: 790px;
}

.app__header {
  margin-bottom: 25px;
}

@media (max-width: 760px) {
  .app__wrapper {
    margin-top: 48px;
  }
}
@media (max-width: 500px) {
  .app__header {
    width: 222px;
  }
}
